@import url("https://fonts.googleapis.com/css?family=Sanchez");
.white-box {
  @apply p-4;
  @apply rounded-badge;
  /* @apply  md:w-11/12; */
  width: 83vw;
  @apply bg-base-100;
  @apply h-5/6;
  @apply overflow-auto;
}
.title {
  @apply text-5xl font-semibold;
}
.menu{
  height: 100%;
  width: 100%;
}
