.white-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 35px;
  @apply w-11/12 xl:w-10/12;
  height: 60%;
}
.title {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 20PX;
}
.menu{
  height: 100%;
  width: 100%;
}
