@import url("https://fonts.googleapis.com/css?family=Sanchez");
.white-box {
  @apply p-4;
  @apply rounded-box shadow-md;
  /* @apply  md:w-11/12; */
  width: 100%;
  height: 100%;
  @apply bg-base-100;
  @apply overflow-auto;
}
.Title {
  @apply text-5xl font-semibold p-2;
}
.menu{
  height: 100%;
  width: 100%;
}
