/* 定义滚动条样式 */
::-webkit-scrollbar {
  width: 0.75rem;
  background-color: var(--fallback-s,oklch(var(--s)/var(--tw-bg-opacity)));
  left: 1rem;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 hsl(var(--n) / var(--tw-bg-opacity));
  border-radius: 10px;
  background-color: var(--fallback-s,oklch(var(--s)/var(--tw-bg-opacity)));
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 0px rgba(240, 240, 240, .5);
  background-color: rgba(240, 240, 240, .5);
}
